<a [href]="datoRedes.urlLinke" class="mx-1" target="_blank" >
    <img [src]="datoRedes.icoLinke" id="linke" alt="logo LinkedIn">
</a>
<a [href]="datoRedes.urlGit" class="ms-auto mx-1" target="_blank">
    <img [src]="datoRedes.icoGit" id="git" alt="logo Github">
</a>

<a [href]="datoRedes.urlInsta" class="mx-1" target="_blank">
    <img [src]="datoRedes.icoInsta" id="insta" alt="logo Instagram">
</a>
<a routerLink="login" class="mx-1" >
    <button class="btn btn-success">Login </button> 
</a>
